---
import type { CollectionEntry } from "astro:content";

import MainLayout from "./MainLayout.astro";

type Props = CollectionEntry<"blog">["data"];

const { title, description, pubDate, updatedDate, heroImage } = Astro.props;
---

<MainLayout title={title} description={description}>
  <section class="max-w-3xl mx-auto my-8">
    <div class="border border-zinc-800">
      {heroImage && <img src={heroImage} alt={title} />}
    </div>
    <div>
      <div class="py-6 border-b border-zinc-800">
        <h1 class="text-center text-4xl font-semibold">{title}</h1>
      </div>
      <article class="prose prose-invert py-8 mx-auto">
        <slot />
      </article>
    </div>
  </section>
</MainLayout>
